MODE=DEV # or APP
LOGS_PATH = logs
MATLAB_HELPERS_PATH = data/matlab_helpers
SL_LIB_DATA_PATH = data/sl_lib_data.json # or data/sl_lib_data.pkl

# Paths are relative to the base path i.e. the folder in which project_root.py is located.
# Copy the contents of this file to an .env in the same directory.
# Or rename this file to .env.